*{
 -web-kit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing:border-box;
padding:0px;
margin:0px;
font-family: 'Source Sans Pro', helvetica, sans-serif;
}
html {
  scroll-behavior: smooth;
 }

body{
  float: left;
  width: 100%;
  margin:0px;
}


.admin_container{
  max-width: 1000px;
  margin: 0px auto;
}

.dashboard{
float: left;
width: 100%;

}

.dashboard .side_bar{ 
height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
background: #09afee;
  transition: 0.5s;
  padding-top: 60px;
  transform: translateX(-100%);
}

 .side_bar.test{
 
  transform: translateX(0%);
}


 .side_bar .closebtn{
 position: absolute;
  top: 15px;
  right: 25px;
  font-size: 25px;
  color: #ffff;
  cursor: pointer;
}


.dashboard_buttons{
display: flex;
width: 100%;
flex-direction: column;
color: #fff;
padding-left:20px ;
}
.dashboard_buttons a{
text-decoration: none;
color: #fff;
}
.dashboard_buttons .btn{
font-size: 18px;
margin-bottom: 15px;
cursor: pointer;
}

.dashboard_buttons .active{
border-left: 2px solid white;
padding-left: 5px;
}

.dashboard .content{
  display: flex;
  flex-direction: column;
   height: 100vh;
 width: 100%;
}
.dashboard .content .body{
margin-bottom: 30px;
}
.admin_header-bar{
display: flex;
justify-content: center;
align-items: center;
    color: rgb(33, 34, 48);
    border-bottom: 1px solid rgb(217, 218, 225);
 padding: 13px 0px;
    box-shadow: rgb(0 0 0 / 5%) 0px 0px 20px;
width: 100%;
position: relative;
margin-bottom: 20px;
}
.sidebar-btn{
position: absolute;
content: "";
left: 15px;
cursor: pointer;
font-size: 25px;
color: #252525;
}

.admin_header-bar .admin_page_logo a{
  font-size: 36px;
  color: #09afee;
  text-decoration: none;
  font-weight: bold;
}


.footer-bar{
display: flex;
justify-content: center;
align-items: center;
    color: rgb(33, 34, 48);
    border-bottom: 1px solid rgb(217, 218, 225);
     border-top: 1px solid rgb(217, 218, 225);
 padding: 13px 0px;
     color: rgb(33, 34, 48);
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 5%) 0px 0px 20px;
width: 100%;
margin-top: auto;

}

.side_bar_logo{
  display: flex;
  width: 100%;
  font-size: 23px;
  font-weight: 600;
  color: #fff;
  padding-left: 20px;
  margin-bottom: 17px;
}


/*dashboard box start*/
.dashboard_window{
float: left;
width: 100%;
}
.dashboard_window .dashboard_form{
float: left;
width: 100%;
}

.back_to_dashboard{
display: flex;
width: 100%;
justify-content: space-between;
align-items: center;
}
.dashboard_window .dashboard_form > strong{
  color: #252525;
  font-size: 25px;
  float: left;
  margin-bottom: 20px;
 width: 100%;
}
.dashboard_window .dashboard_form .back_to_dashboard > strong{
  color: #252525;
  font-size: 25px;
  margin-bottom: 20px;
}
.dashboard_window .dashboard_form .back_to_dashboard a{
  color: #fff;
  font-size: 15px;
  margin-bottom: 20px;
 text-decoration: none;
padding: 5px 5px;
background: #bb1e1ecf;
border-radius: 2px;
}
.form-control{
width: 20%;
margin-bottom: 15px;
padding: 4px 10px;
font-size: 18px;
color: #6a6969;
border: 2px solid #09afee;
}
.show_product{
  overflow-x: auto;
}
table{
  width: 100%;
margin-bottom: 15px;
table-layout: auto;

}
/*table {

  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}*/
table tr{

}
table tr th{
          background: #09afee;
    align-items: center;
    text-align: center;
    color: #fff;
    font-size: 17px;
    padding: 10px 10px;
}

table tr td{
       background: lightgray;
    align-items: center;
    text-align: center;
    color: #252525;
    font-size: 17px;
    padding: 10px 10px;
}
table tr td a{
  text-decoration: none;
  color: #252525;
}
.pagination-container{
width: 100%;
float: left;
}
.pagination-container nav{

}
.pagination-container nav ul{
display: flex;
}
.pagination-container nav ul li{
list-style: none;
/*background: gray;
color: #fff;
padding: 10px 10px;
margin: 0px 5px;*/
}
.pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
        border-top-color: rgb(221, 221, 221);
        border-right-color: rgb(221, 221, 221);
        border-bottom-color: rgb(221, 221, 221);
        border-left-color: rgb(221, 221, 221);
}
.pagination > .active > span{
 z-index: 3;
color: #fff;
cursor: default;
/*background-color: #337ab7;
border-color: #337ab7;*/
background-color: #bb1919b8;
border-color: #bb1919b8
}

#dashboard_window{
display: block;
visibility: visible;
}

/*dashboard box end*/




/* single product detail page start*/
.single_product_detail{
position: absolute;
content: "";
height: 100vh;
background: #0000004f;
width: 100%;
top: 0px;
}

#single_product_detail{
display: none;
visibility: hidden;
}
.view_product{
float: left;
width: 100%;
background: white;
border-radius: 8px;
margin-top: 40px;
position: relative;
}
.cancle_button{
  position: absolute;
right: 18px;
font-size: 25px;
cursor: pointer;
}
.view_product h1{
text-align: center;
padding: 25px 0px;
font-size: 25px;
color: gray;
}
#produt-detail {
display: flex;
justify-content: space-around;
width: 100%;
padding: 20px 20px;

}
#produt-detail  figure{
padding: 0px 10px;
}
#produt-detail  figure img{
  width: 100%;
}
#produt-detail  .detail{
  height: auto;
border: 1px solid #8a898969;
border-radius: 2px;
padding: 0px 15px;
}
#more {display: none;}

#produt-detail .detail strong{
color: #141414 !important;
font-family: 'Source Sans Pro', helvetica, sans-serif;
line-height: 30px !important;
font-weight: 600 !important;
font-size: 24px;
padding: 20px 0px;
width: 100%;
float: left;
}
  .pro_discription{
  color: #696b82;
    -webkit-font-smoothing: antialiased;
font-family: 'Source Sans Pro', helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    float: left;
    width: 100%;
  
   padding: 20px 20px;
}
.pro_discription strong{
font-size: 25px;
color: #252525;
margin-bottom: 15px;
float: left;
width: 100%;
}
#produt-detail  .detail button{
background: none;
border: none;
color: red;
font-size: 14px;
font-weight: bold;
cursor: pointer;
}
#produt-detail .detail .price-box{
display: flex;
width: 100%;
color: #212330;
   
}
#produt-detail  .detail .price-box .price{
color: #212330;  
 padding: 6px 10px 6px 20px;
    margin-bottom: 20px;
    background-color: #f3f3f3;
     border-radius: 5px;
     margin-right: 10px;
}
#produt-detail  .detail .price-box .price small{
font-size:15px ;  
}
#produt-detail .detail .price-box .price{
font-size: 20px;  
}

/* single product detail page End*/


/*add new product box start*/
.add_product_box{
float: left;
width: 100%;
margin-top: 80px;
}
.add_product_box .product_container{
margin: 0 auto;
max-width: 600px;
}
.add_product_box .product_container .product_form{
float: left;
width: 100%;
background: #b50b0b;
position: relative;
}
.cancle_edit_button{
position: absolute;
right: 20px;
color: #fff;
font-size: 23px;
top: 9px;
}
.add_product_box .product_container form{
 float: left;
 width: 100%;
}
 .back_button{
display: flex;
justify-content: center;
width: 100%;
padding: 0px 20px;
margin-bottom: 8px;
}
 .back_button a{
  color: #fff;
  padding: 15px 0px;
  font-size: 20px;
 text-decoration: none;
background: #b50b0bbf; 
padding: 5px 5px;

}
.add_product_box .product_container form  strong{
  color: #fff;
  padding: 15px 0px;
  font-size: 25px;
 float: left;
 width: 100%;
 text-align: center;

}

.add_product_box .product_container form .product_input_field{
 display: flex;
 text-align: center;
 width: 100%;
}
.add_product_box .product_container form input{
border: 2px solid #dddbdb;
padding: 7px 17px;
font-size: 15px;
border-radius: 7px;
/*margin: 10px 12px;*/
margin-bottom: 10px;
outline: none;
font-weight: bold;
width: 100%;
}
.add_product_box .product_container form .product_input_field .inner_field{
  width: 50%;
  padding: 0px 20px;
}
.add_product_box .product_container form .product_input_field .inner_field > select{
border: 2px solid #dddbdb;
padding: 7px 17px;
font-size: 15px;
border-radius: 7px;
/*margin: 10px 12px;*/
margin-bottom: 10px;
outline: none;
font-weight: bold;
cursor: pointer;
color: gray;
width: 100%;
}
.add_product_box .product_container form input[type=file]{
color: #fff;
padding: 3px 0px;
border: none;
}
.add_product_box .product_container form .checkbox{
float: left;
padding: 7px 17px;
margin-bottom: 10px;
}
.add_product_box .product_container form .checkbox label{
color: #fff;
font-weight: bold;

}
.add_product_box .product_container form input[type=checkbox]{
width: 15%;
}
.add_product_box .product_container form .submit_button{
  float: left;
  width: 100%;
 padding: 10px 20px;
}
.add_product_box .product_container form button{
    border: none;
    padding: 12px 17px;
    font-size: 19px;
    border-radius: 7px;
    outline: none;
    font-weight: bold;
    background: #fffdfd;
    color: gray;
    cursor: pointer;
    float: left;
    width: 100%;
 transition: 0.5s ease;
}
.add_product_box .product_container form button:hover{
  color: #ac5b5b;
  transition: 0.5s ease;
}

#edit_detail{
display: none;
visibility: hidden;
}
.edit_product{
position: absolute;
content: "";
height: 100vh;
background: #0000004f;
width: 100%;
top: 0px;
}
/*add new product box end*/






/*car type start*/
#car_type{
  display: none;
  visibility: hidden;
}

.car_custom_container{
max-width: 1100px;
margin: 0 auto;
}
.message_main{
 display: flex;
  width: 100%;
  background: lightblue;


}


.admin_our_fleet{
  float: left;
  width: 100%;
  margin-bottom: 30px;
  padding: 30px 10px;
}
.admin_our_fleet h2{
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  font-size: 27px;
  color: #45423c;
  margin-bottom: 30px;
}
.admin_fleet_services{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-areas: ". . .";
grid-template-rows: auto;
gap: 40px 45px;
text-align: center;
}
.admin_single_service{
  background-color: #f7f7f7;
  padding: 15px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.admin_single_service figure{
  margin-bottom: 20px;
 width: 100%;    
}
  .admin_single_service figure img{
      width: 50%;
      height: 100px;
  }
  .admin_single_service h3{
      margin-bottom: 10px;
      color: #45423c;
      font-size: 26px;    
  }
  .admin_single_service h4{
      margin-bottom: 10px;
      color: #54b3d7;
      font-size: 16px;
      
  }

  .vehical_price_box span{
    margin-bottom: 10px;
    color: #45423c;
    font-size: 26px;    
    display: block;
  }
.single_taxi_btn a{
  margin-bottom: 10px;
    color: #45423c;
    font-size: 26px;  
    display: block;
  }

/*car type end*/

.add_car_container{
  max-width: 500px;
  margin: 0 auto;
}

#add_new_car{
  display: none;
  visibility: hidden;
}
.profile_section{
float: left;
width: 100%;
margin-bottom: 30px;
}
.profile_section .profile_section_data{
float: left;
width: 100%;
padding: 0px 10px;
}
.profile_section .profile_section_data h2{
float: left;
width: 100%;
font-size: 36px;
line-height: 42px;
margin-bottom: 30px;
text-align: center;
}
.profile_section .profile_section_data form .profile_form{
display: flex;
flex-direction: column;
width: 100%;
}
.profile_section .profile_section_data form .profile_form .profile_section_one{
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  flex-direction: column;
  align-items: center;
  gap: 21px 0px;
}
.profile_section .profile_section_data form .profile_form .profile_section_one figure{
width: 100%;
text-align: center;
}
.profile_section .profile_section_data form .profile_form .profile_section_one figure img{
width: 50%;
height: 100px;
}

.profile_section_two .profile_name{
margin-bottom: 30px;
}
.profile_section_two .profile_name label{
    font-size: 16px;
    font-weight: 900;
    line-height: 16px;
    color: #232323;
    padding-bottom: 10px;
    display: block;
    }
    .profile_section_two .profile_name input{
        border:2px solid #D8D8D8;
        outline: none;
        background-color: #FFFFFF;
        padding: 10px 10px;
        width: 100%;
    } 
    .profile_section_two .profile_name .profile_phone{
        display: flex;
    }
    .profile_section_two .profile_name .profile_phone select{
        border: 2px solid #D8D8D8;
        border-right-color: rgb(216, 216, 216);
        border-right-style: solid;
        border-right-width: 2px;
        outline: none;
        background-color: #FFFFFF;
        padding: 10px 10px; 
        border-right: none;
    }
    .profile_section_two .border_bottom{
       border-bottom: 1px solid #E3E3E3;
       padding-bottom: 30px;
    }   
    .profile_save_btn{
       display: flex;
       justify-content: center;
       align-items: center;
       width: 100%;
    }
    .profile_save_btn button{
        color: #FFFFFF;
        background-color: #007991;
        border-color: #007991;
        border: 1px solid transparent;
        cursor: pointer;
        user-select: none;
        font-size: 16px;
        line-height: 16px;
        height: 40px;
        font-weight: 900;
        border-radius: 2px;
        width: 35%;
    }
#extras{
  display: none;
  visibility: hidden;
}
#add_new_extra{
  display: none;
  visibility: hidden;
}

/*RESPONSIVE*/

/*Tablet*/
@media (min-width: 768px) and (max-width: 1024px) {

.dashboard .side_bar {
  width: 33%;
}
.dashboard_window .dashboard_form strong {
  padding-left:15px ;
}
.list_selecter{
padding-left: 15px;
}
.pagination-container {
  padding-left: 15px;
}

.dashboard_window .dashboard_form .back_to_dashboard a {
  margin-right: 15px;
}


}

/*mobile rotation*/
@media (max-width: 767px) {

.dashboard .side_bar {
  width: 33%;
}
.dashboard_window .dashboard_form strong {
  padding-left:15px ;
}
.list_selecter{
padding-left: 15px;
}
.pagination-container {
  padding-left: 15px;
}

.message_main .message_box .message_ul {
  height: 47vh;
}
.message_main .message_box form input {
  width: 75%;
}

.dashboard_window .dashboard_form .back_to_dashboard a {
  margin-right: 15px;
}

.admin_fleet_services{
  grid-template-columns: 1fr 1fr;
  grid-template-areas: ". .";
  }

}

/*mobile*/
@media (max-width: 540px) { 
 
 .dashboard_window .dashboard_form strong {
  text-align: center;
 }
 .show_product{
  padding-bottom: 5px;
margin-bottom: 15px;
 } 
 .pagination-container {
    display: flex;
    justify-content: center;
}
.list_selecter{
  width: 100%;
text-align: center;
}
.form-control {
  width: 60%;
}
.dashboard .side_bar{ 
height: 100%;
  width: 100%;
  
}

.add_product_box .product_container form .product_input_field .inner_field {
  padding: 0px 10px;
}


.message_main .client_list {
    width: 45%;
  }
.message_main .message_box {
    width: 55%;
}
.single_client figure {
    width: 100%;
    float: left;
    text-align: center;
}
.single_client figure img {
  float: none;
}
/*element.style {
    text-align: center;
    width: 100%;
    float: left;
}*/

.message_main .message_box .receive {
    float: none;
    width: 100%;
    text-align: left;
    margin: 5px 5px;
}
.message_main .message_box .send input {
    padding: 5px 5px;
    background: lightgray;
    border: lightgray;
    color: black;
}
.message_main .message_box .message_ul {
  padding: 0px;
}
.message_main .message_box .receive {
  margin: 5px 0px;
}
.message_main .message_box .send {
  margin: 5px 0px;
}

.message_main .message_box .message_ul {
    height: 63vh;
}

.message_main .message_box form input {
    width: 100%;
    margin-bottom: 9px;
}
.message_main .message_box form button {
  width: 100%;
  margin-left: 0px;
}

.dashboard_window .dashboard_form .back_to_dashboard > strong {
  font-size: 16px;
}
#produt-detail {
  flex-direction: column;
}
#produt-detail figure {
  text-align: center;
  margin-bottom: 10px;
}
#produt-detail .detail .price-box {
  flex-direction: column;
}

.admin_fleet_services{
  grid-template-columns: 1fr;
  grid-template-areas: ".";
  }

}
